/* setting base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.container {
    width: 80%;
    margin: 20px auto;
}

/* header */
header {
    width: 100%;
    margin-bottom: 30px;
}

header img {
    height: 80px;
    padding-right: 20px;
    border-right: 2px solid lightgray;
    margin-bottom: 20px;
}

.nav-element {
    color: lightgray;
    float: left;
    margin-right: 10px;
    font-size: large;
    text-decoration: none;
}

/* jumbo */
.jumbo {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 400px;
    width: 100%;
    margin: 20px 0;
}

.background {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.3);
}

/* main */
main {
    background-color: #379BF6;
    height: 500px;
    width: 100%;
    margin: 0 0 10px;
}

main > div {
    background-color: #ABCFE7;
}

.main-header {
    height: 60px;
    width: 100%;
    margin-bottom: 20px;
}

.col-left, .col-right {
    width: 20%;
    height: calc(100% - 100px);
}

.main-content {
    height: calc(100% - 100px);
    width: calc(60% - 20px * 2);
    margin: 0 20px;
}
/* /main */

/* footer */
footer {
    background-color: #8802F7;
    height: 50px;
    width: 100%;
}