/* setting base */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.float {
    float: left;
}

.container {
    width: 1200px;
    margin: 20px auto;
}


.background {
    width: 100%;
    height: 100%;
    background-color: rgba(29, 29, 29, 0.3);
}

.radius-10 {
    border-radius: 10px;
}

/* header */
header {
    margin-bottom: 30px;
}

header img {
    height: 80px;
    padding-right: 20px;
    border-right: 2px solid lightgray;
    margin-bottom: 20px;
}

.nav-element {
    color: lightgray;
    margin-right: 10px;
    font-size: large;
    text-decoration: none;
}

/* jumbo */
.jumbo {
    background-image: url(../img/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    margin: 20px 0;
}

.jumbo-content {
    color: white;
    width: 70%;
    padding: 280px 50px 60px;
    height: 100%;
}

.jumbo-content h2 {
    font-weight: normal;
    font-size: 2em;
}

/* main */
main {
    margin: 0 0 10px;
}

.main-header {
    margin: 40px 0;
}

.main-header h1 {
    font-size: 2.5em;
}

.main-header h3 {
    color: lightgray;
    font-size: 1em;
    font-weight: normal;
}

.img {
    background-size: cover;
    background-position: center;
    height: 200px;
}

#img-1 {
    background-image: url(../img/img-1.jpg);
}

#banner-2 {
    background-image: url(../img/banner-2.jpg);
}

#img-3 {
    background-image: url(../img/img-3.jpg);
}

.col-left, .col-right {
    width: 20%;
}

.main-content {
    width: calc(60% - 20px * 2);
    margin: 0 20px;
}

.titolo {
    font-weight: bold;
    margin: 10px 0;    
}

.paragrafo {
    color: rgb(145, 145, 145);
}


/* /main */

/* footer */
footer {
    text-align: center;
    margin-top: 20px;
}

#heart {
    color: red;
    font-size: 25px;
}

#name{
    text-decoration: none;
    color: black;
}

#name:hover {
    font-weight: bold;
    font-size: 25px;
}